<!-- <footer class="footer">
    <a href="/logout" class="btn btn-primary">Logout</a>
    <a href="/reset" class="btn btn-primary">Reset Password</a>
</footer>
<script src="js/main.js"></script>
</html> -->
