<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="topnav">
      <a href="/" class="nav-brand-h1">Noodle’N</a>
      <!-- Navigation links (hidden by default) -->
      <div id="myLinks">
        <ul>
          <li><a href="/reset">Reset Password</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
        
      </div>
      <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </nav>
</header>
</body>
<script src="js/main.js"></script>
</html> 