<header class="header">
  <nav class="nav">
    <div class="nav-brand">
      <h1 class="nav-brand-h1">Noodle’N</h1>
    </div>
    <div class="nav-ham">
      <div class="ham-item"></div>
      <div class="ham-item"></div>
      <div class="ham-item"></div>
    </div>
  </nav>
</header>
