<%-include("./partials/header.ejs")%>
<%-include("./partials/groceryItemsNavbar.ejs")%>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/about.css" />
  </head>
  <section class="showcase-area" id="showcase">
    <div class="showcase-container">
      <h1 class="main-title" id="home">Welcome to The Noodle’N Grocery App</h1>
      <p>Shopping Made Easy</p>
      <a href="/groceryItems" class="btn btn-primary">Grocery List</a>
    </div>
  </section>

  <section id="about">
    <div class="about-wrapper container">
      <div class="about-text">
        <p class="small">About Us</p>
        <h2>We have been supporting families for the last few years.</h2>
        <p>
          Our mission is to enable shoppers efficiently track grocery supplies
          before, during and after their shopping experience. We aim to reduce
          the stress of meal planning and enable health conscious decisions. Our
          target audiences are; busy professionals, large families and
          organizations to help manage waste and sustain the environment.
        </p>
      </div>
<<<<<<< HEAD
    </div>
  </section>
</html>
=======
</body>
<script src="js/main.js"></script>
</html> 
>>>>>>> c5c6c6b9544a727110708d849eebcb6c368703d1
