.main {
  position: relative;
}

.main-h1-div {
  margin: 0.5em 2em;
}

.grocery-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500;
  padding-bottom: 400px;
  color: var(--white);
}
.grocery-item {
  background-color: var(--black);
  width: 300px;
  margin: 2em 2em;
  padding: 7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.grocery-item-delete {
  /* align-self: flex-end; */
  position: absolute;
  top: 2em;
  right: 1em;
  padding: 0 2em;
  border: 1px solid var(--white);
  margin: 1em 3em 3em 0;
}

.del {
  cursor: pointer;
}

.grocery-item-name {
  padding-top: 3em;
}

.grocery-item-btn-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.quanity-btn {
  background-color: transparent;
  border: none;
  padding: 0.5em 1.5em;
}

.quanity-btn-img {
  width: 2em;
}

/* Form Start */
.add-item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500;
  background-color: var(--white);
  border: 2px solid var(--black);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5em 0;
  z-index: 1;
}

.add-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
input {
  width: 70%;
  margin: 0.5em 0;
  padding: 1em 0;
  border: 1px solid var(--black);
  border-radius: 10px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  padding: 0 1em;
}

.submit-btn {
  width: 70%;
  background-color: var(--gray);
  color: var(--white);
  padding: 1em 0;
  border: none;
  border-radius: 10px;
}

/* Media Queries */

@media only screen and (min-width: 400px) {
  .grocery-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 2000px;
  }
}
