.main {
  position: relative;
}

.main-h1-div {
  margin: 0.5em 2em;
}

.grocery-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500;
  padding-bottom: 400px;
  color: var(--white);
}
.grocery-item {
  background-color: var(--black);
  width: 300px;
  margin: 2em 2em;
  padding: 7em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.grocery-item-delete {
  /* align-self: flex-end; */
  position: absolute;
  top: 2em;
  right: 1em;
  padding: 0 2em;
  border: 1px solid var(--white);
  margin: 1em 3em 3em 0;
}

.grocery-item-delete:hover, .grocery-item-delete:active {
    color: #56a3e3;
    border: 1px solid #56a3e3;
    transition: 0.3s ease-in-out;
  }

.del {
  cursor: pointer;
}

.grocery-item-name {
  padding-top: 3em;
}

.grocery-item-btn-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.decreaseQuantityBtn, .increaseQuantityBtn {
  background: transparent;
  border: none;
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.quanity-btn-img {
  width: 2em;
}

.decreaseQuantityBtn:hover, .increaseQuantityBtn:hover {
    background: #277BC0;
    transition: background 0.3s ease-in-out;
    border-radius: 50%;
  }

/* Form Start */
.add-item-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500;
  background-color: var(--white);
  border: 2px solid var(--black);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10em 0;
  z-index: 1;
}

.add-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
input {
  width: 70%;
  margin: 0.5em 0;
  padding: 1em 0;
  border: 1px solid var(--black);
  border-radius: 10px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  padding: 0 1em;
}

.submit-btn {
  width: 70%;
  background-color: var(--gray);
  color: var(--white);
  padding: 1em 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover, .submit-btn:active {
  background-color: #6d6e70;
  color: var(--white);
  transition: 0.3s ease-in-out;
}



/* Media Queries */

@media only screen and (min-width: 400px) {
  .grocery-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 2000px;
  }
}
