@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --text-size: 62.5%;
    --white:#fff;
    --black:#151515;
    --blue:#277BC0;
    --yellow:#FFB200;
    --liBlue:##8EABC2;
    --liYellow:#FFE9B5;
    --gray:#8A8A8A;
    --fontFam:'Jost', sans-serif;
}

/* Reset CSS Start */

*{
    box-sizing: border-box;
}

html,body{
    font-size: var(--text-size);
    padding: 0;
}

body{
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    font-family: var(--fontFam);
}

html:focus-within {
    scroll-behavior: smooth;
  }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

/* Reset CSS End */

/* Font Start */

h1{
    font-size: 4rem;
    color:var(--blue)
}

h3{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

p{
    font-size: 1.8rem;
}

/* Font End */

/* List Start */
ul,li{
    font-size:1.8rem ;
}
/* List End */

/* Link Start */
a:link {
    color: red;
  }

  a:visited {
    color: green;
  }
 
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }

  /* Link End */



/* h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
} */



 /* ......//Landing Page//...... */

.landing-page-btn-container .landing-btn, .landing-page-btn-container .landing-btn:visited {
  background-color: #277BC0;
  color: #fff;
  cursor: pointer;
}

.landing-page-btn-container .landing-btn:hover, .landing-page-btn-container .landing-btn:active {
  background-color:deepskyblue;
  color: #fff;
}

 /* ......//Reset Page//...... */

.submit-btn {
  width: 70%;
  background-color: var(--gray);
  color: var(--white);
  padding: 1em 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.submit-btn:hover, .submit-btn:active {
  background-color: #6d6e70;
  color: var(--white);
  transition: 0.3s ease-in-out;
}