.user-info {
  display: flex;
  position: relative;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  flex-flow: column wrap;
}

.user-input {
  height: 75%;
  width: 75%;
  align-items: center;
  justify-content: center;
}


.user-submit-btn {
  background-color: #8A8A8A;;
  color: #fff;
  padding: 1em 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.user-submit-btn:hover, .user-submit-btn:active {
  background-color: #6d6e70;
  color: var(--white);
  transition: 0.3s ease-in-out;
}

.panda-img {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  max-height: 25%;
}

section img {
  margin-top: 5em;
  position: relative;
  align-self: flex-end;
  align-items: flex-end;
  flex-flow: row wrap;
}

@media only screen and (max-width: 428px) {
  div img {
    justify-content: center;
    align-items: center;
  }
}